<!-- <p>edit-almacen works!</p>
<div class="container col-md-6">

    <div class="card-header">
        <h3> Actualizar Almacen</h3>
    </div>

    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" [(ngModel)]="almacen.nombalm" name="nombalm" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Direccion:</label>
                <input type="text" [(ngModel)]="almacen.direccion"  name="direccion" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Encargado:</label>
                <input type="text" [(ngModel)]="almacen.encargado.ide" name="encargado" class="form-control">
            </div>
            <button (click)="actualizar(almacen)" class="btn btn-danger">Guardar</button>
        </form>
    </div>
</div> -->
