<h2 mat-dialog-title> {{ estadoFormulario }} Producto</h2>

<mat-dialog-content>
    <form [formGroup]="ProductoForm">
        <div class="category-container">
            <mat-form-field>
                <input matInput placeholder="Nombre del Producto" formControlName="nombrep" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Stock disponible" formControlName="stock" required/>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Almacén</mat-label>
                <mat-select formControlName="almacen">
                    <mat-option *ngFor="let alm of almcenes" [value]="alm.idal">
                        {{ alm.nombalm }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="categoria">
                    <mat-option *ngFor="let cat of categorias" [value]="cat.id">
                        {{ cat.nombreCat }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="ProductoForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>
