<div class="container col-md-6">
    <div class="card-header">
        <h3> Actualizar Productos</h3>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" [(ngModel)]="producto.nombrep" name="nombrep" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Precio:</label>
                <input type="text" [(ngModel)]="producto.precio" name="stock" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Stock:</label>
                <input type="text" [(ngModel)]="producto.stock" name="precio" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Categoría:</label>
                <div>
                    <select name="categoria"  [(ngModel)]="producto.categ.id"  class="form-control">
                        <option value="" disabled> Elige una categoría</option>
                        <option  *ngFor="let objeto of categorias" [ngValue]="objeto.id" > {{objeto.nombreCat}} </option>
                    </select>
                </div>         
            </div>
            <div class="form-group">
                <label for="">Almacén:</label>
                <div>
                    <select name="almacen"  [(ngModel)]="producto.almacen.idal"  class="form-control">
                        <option value="" disabled> Elige una categoría</option>
                        <option  *ngFor="let objeto2 of almacenes" [ngValue]="objeto2.idal" > {{objeto2.nombalm}} </option>
                    </select>
                </div>         
            </div>
            <button (click)="actualizar(producto)" class="btn btn-danger">Guardar</button> &nbsp;  
            <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
        </form>

    </div>
</div>