<h1>Listado de Productos</h1>
<br />
<br />
<button (click)="nuevo()" class="btn btn-success">Agregar</button>
<br />
<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Categoría</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Almacen</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.idp }}</td>
      <td>{{ producto.categ.nombreCat }}</td>
      <td>{{ producto.nombrep }}</td>
      <td>{{ producto.precio }}</td>
      <td>{{ producto.stock }}</td>
      <td>{{ producto.almacen.nombalm }}</td>
      <td>
        <button (click)="editar(producto)" style="margin-right: 10px" class="btn btn-warning"> Editar </button>&nbsp; 
        <button (click)="eliminar(producto)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
