<!-- <p>listar-categoria works!</p>

<button (click)="nuevaC()" class="btn btn-warning"> Agregar</button>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>Código</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{categoria.id}}</td>
            <td>{{categoria.nombreCat}}</td>
            <td>
                <button (click)="editarC(categoria)" class="btn btn-warning">Editar</button>
                <button (click)="eliminarC(categoria)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>

</table> -->
